# kubernetes deployment
deploy

# pnpm
pnpm-lock.yaml
pnpm-workspace.yaml

# claude
.claude/settings.local.json

# general
node_modules
dist

# github
.github

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
